*.pyc
data/
__pycache__/
checkpoints/
*.pth
*.jpg
venv/
.idea/
wandb/
test_results_muscle_binary/unet_muscle_90_final/predictions/
test_results_muscle_3_classes/unet_muscle_3_classes/predictions/
test_results_muscle_5_classes/unet_muscle_5_classes/predictions/
test_results_muscle_10_classes/unet_muscle_10_classes/predictions/
